.vid{
  display: flex;
  justify-content: center;
}
.instruction{
display: flex;
align-content: center;
width: 661px;
margin: 2em;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
 
}

.instructions{

  padding: 3em;

}

.name{
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #ccc;
}
.in {

  width: 1080px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}