a{
  text-decoration: none;
  color: #0d5c63;
}
.sub-preview{
  display:flex;
  margin: 10px;
  flex-direction: column;
}
.sub-name{
  margin:10px
}
.preview-cards{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  justify-content: space-around;
  align-items: flex-start;
}
.sub-name{
  font-size: 30px;
  font-weight: 900;
}
.more{
  font-size: 25px;
  color: #0d5c63;
  font-weight: 900;
  align-self: flex-end;
  margin: 10px;
}