.timeOfDay {
 margin: 40px auto 0px auto;
 
 display: flex;
 justify-content: center;
 // justify-content: flex-start;
 width: 80vw;
 padding: 20px 0 0 0;
 // @media only screen and (max-width: 1115px){
 //   justify-content: center;
 // }
 &--p {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  font-family: 'Nunito', sans-serif;
  display: flex;
  padding-left: 5px;
  @media only screen and (max-width: 650px){
   font-size: 30px;
  }
  @media only screen and (max-width: 1115px){
   padding-left: unset;
 }
 
 }

 &--span {
  display: block;
  padding-left: 10px;
 }

}