.timeOfDay {
 margin: 40px 0 0px 0;
 width: 100vw;
 display: flex;
 justify-content: center;
 &--p {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  font-family: 'Nunito', sans-serif;
  display: flex;
  // align-items: center;
  
 }

 &--span {
  display: block;
  padding-left: 10px;
 }

}